* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-color: dimgrey;
  color: white;
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
